#contents(style='width:300px; height:200px; overflow:auto; border:1px solid #000;')

script(type='text/javascript')
  window.onload = function() {
    var socket = io.connect('http://localhost:3000');  
    socket.on('connect', function() {
      printMessage('연결되었습니다.');
    });
  };

  var contents = document.getElementById('contents');
  function printMessage(msg) {
    var p = document.createElement("p");
    p.textContent = msg;
    contents.appendChild(p)
  }

